.DS_Store
.idea
.buildpath
.project
.settings
*.pyc
doc
/phpunit.xml
/tests/config.json
/vendor/
composer.phar
sdk-php.iml
out/
.phpunit.cache/
.phpunit.result.cache
.vscode/*

.phpactor.json
.php-cs-fixer.cache
coverage/
coverage.xml

# Nodejs / Javascript
node_modules
