openapi: "3.0.3"

info:
  version: 1.35.0
  title: "Commerce Platform API"
  description: |
    RESTful API for the creation of Commerce Cases with Checkouts and the execution of Payments.

servers:
  - url: "https://commerce-api.payone.com"
    description: Production URL
  - url: "https://preprod.commerce-api.payone.com"
    description: Pre-Production URL

tags:
  - name: CommerceCase
    description: Resource for the operations on Commerce Cases.
  - name: Checkout
    description: Resource for the operations on Checkouts.
  - name: OrderManagementCheckoutActions
    description: Order Management Checkout Actions allow operations on the items of a shopping cart. Requires ORDER_MANAGEMENT as allowedPaymentActions.
  - name: PaymentExecution
    description: Resource for operations on Payment Executions. Requires PAYMENT_EXECUTION as allowedPaymentActions.
  - name: PaymentInformation
    description: Resource for operations on Payment Information.

paths:
  '/v1/{merchantId}/commerce-cases':
    post:
      summary: Create a Commerce Case
      description: |-
        This endpoint can be used to create a Commerce Case in combination with a Checkout and an Order. A Commerce Case
        is a container for multiple Checkouts and can be directly linked to one customer. The Order can either be
        directly executed or the paymentMethodSpecificInput can also be stored for a later execution over the
        OrderManagementCheckoutActions or Payment Execution endpoint.
      tags:
        - CommerceCase
      operationId: createCommerceCase
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommerceCaseRequest'
      responses:
        '201':
          x-nullable: true
          description: |-
            The response contains the references to the Commerce Case and the Checkout and if autoExecuteOrder was set
            to true the payment response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCommerceCaseResponse'
        '202':
          x-nullable: true
          description: |-
            The response contains the references to the Commerce case and the Checkout. Status code 202 will be returned
            if the creation of a Commerce Case and Checkout was successful but the payment was not.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCommerceCaseResponse'
        '400':
          x-nullable: true
          description: Commerce Case not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Get a list of Commerce Cases based on Search Parameters
      description: |
        This endpoint will provide a list of Commerce Cases based on the provided criteria.
        Not all parameters are required to be set.
        Results will be returned in descending creation time per default.
      tags:
        - CommerceCase
      operationId: getCommerceCases
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/commerceCaseIdQuery'
        - $ref: '#/components/parameters/merchantReference'
        - $ref: '#/components/parameters/merchantCustomerId'
        - $ref: '#/components/parameters/includeCheckoutStatus'
        - $ref: '#/components/parameters/includePaymentChannel'
      responses:
        '200':
          x-nullable: true
          description: |
            The response contains all Commerce Cases and Checkouts that match with the provided criteria. 
            An empty list will be returned if no criteria was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCasesResponse'
        '400':
          x-nullable: true
          description: Exception when requesting Checkouts with unknown parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}':
    get:
      summary: Get Commerce Case Details
      description: This endpoint can be used to get a specific Commerce Case and all linked Checkouts.
      tags:
        - CommerceCase
      operationId: getCommerceCase
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
      responses:
        '200':
          x-nullable: true
          description: The response contains the Commerce Case and all linked Checkout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCaseResponse'
        '404':
          x-nullable: true
          description: Checkout not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Modify an existing Commerce Case.
      description: This endpoint can be used to update or modify the customer object of a Commerce Case.
      tags:
        - CommerceCase
      operationId: updateCommerceCase
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCommerceCaseRequest'
      responses:
        '204':
          x-nullable: true
          description: The Commerce Case was updated successfully.
        '400':
          x-nullable: true
          description: |-
            The request was malformed or was missing required data. When a required property was missing the error
            message will indicate which property caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: Commerce Case not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          x-nullable: true
          description: Service unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/order':
    post:
      summary: Creates an Order that will automatially execute a Payment
      description: |
        This endpoint can be used to create an Order that automatically executes a payment for the respective Checkout. 
        The Order request requires items within the ShoppingCart and can be made for a partial or the entire
        ShoppingCart of a Checkout.
      tags:
        - OrderManagementCheckoutActions
      operationId: createOrder
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '201':
          x-nullable: true
          description: The order request was successfully processed and a payment object was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          x-nullable: true
          description: |-
            The request was malformed or was missing required data. When a required property was missing the error
            message will point out which property caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          x-nullable: true
          description: The payment was declined by a 3rd party (acquirer, payment processor, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          x-nullable: true
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          x-nullable: true
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          x-nullable: true
          description: |-
            Any 5XX response points to something that went wrong on our end. This could also be that the system was
            unable to route the transaction to an appropriate acquirer/3rd party. Another reason for such a response
            is when the 3rd party's response could not be understood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          x-nullable: true
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/complete-order':
    post:
      summary: Complete an Order
      description: |-
        For PAYONE Secured Installment (paymentProductId 3391) a two-step process is required.
        The first step is creating an Order, the second step is completing it by calling this API endpoint.
      tags:
        - OrderManagementCheckoutActions
      operationId: completeOrder
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteOrderRequest'
        required: true
      responses:
        200:
          description: The Order was successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletePaymentResponse'
        400:
          description: Incorrect input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: The payment was declined by a 3rd party (acquirer, payment processor, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: Complete is not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: The request was well-formed but was unable to be processed due to semantic errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal server exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        502:
          description: Any 5XX response points to something that went wrong on our
            end. This could also be that the system was unable to route the transaction
            to an appropriate acquirer/3rd party. Another reason for such a response
            is when the 3rd party's response could not be understood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/deliver':
    post:
      summary: Mark items of a Checkout as delivered and automatically capture the payment for the items
      description: |
        This endpoint can be used to mark items from a Checkout as delivered and to automatically capture the payments
        for those items.
        The return can only be done for Checkouts with status COMPLETED, BILLED or CHARGEBACKED and the items have to
        be in the status ORDERED.
        If the payment has already been captured (in case of a SALE), the deliver request will only update the item
        status.
      tags:
        - OrderManagementCheckoutActions
      operationId: deliverOrder
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliverRequest'
      responses:
        '201':
          x-nullable: true
          description: The deliver was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliverResponse'
        '400':
          x-nullable: true
          description: |-
            The request was malformed or was missing required data. When a required property was missing the error
            message will point out which property caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          x-nullable: true
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: |-
            The most common cause for this response is that the Checkout status was not PENDING_COMPLETION, BILLED or
            CHARGEBACKED.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/return':
    post:
      summary: Mark items of a Checkout as returned and automatically refund the payment for the items
      description: |
        This endpoint can be used to mark items from a Checkout as returned and will automatically refund the payments
        for those items.
        The return can only be done for Checkouts with status BILLED or CHARGEBACKED and the items have to be in the
        status DELIVERED.
      tags:
        - OrderManagementCheckoutActions
      operationId: returnOrder
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnRequest'
      responses:
        '201':
          x-nullable: true
          description: The return was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnResponse'
        '400':
          x-nullable: true
          description: |-
            The request was malformed or was missing required data. When a required property was missing the error
            message will indicate which property caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          x-nullable: true
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: |-
            The most common cause for this response is that the Checkout status was not PENDING_COMPLETION, BILLED or
            CHARGEBACKED.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/cancel':
    post:
      summary: Mark items of a Checkout as cancelled and automatically cancel the payment for the items
      description: |-
        This endpoint can be used to mark items from a Checkout as cancelled and reverse the payment associated with
        this Checkout.
        The Cancel endpoint can be used to cancel a full or partial order. 
        The Cancel request will mark all or (for cancelType PARTIAL) the provided items as CANCELLED, and – in case of
        an existing authorization – will reverse the payment.
        
        In the light of card payments, reversing an authorization that is not needed will prevent you from having to pay
        a fee/penalty for unused authorization requests.
        Whilst scheme regulations require that acquirers and PSPs support authorization reversals, there are no rules
        towards issuers mandating them to process the reversal advice.
        Therefore, there is no guarantee the authorization hold is released.
        The authorization reversal can only be performed by the card issuer, and under no circumstances will we be
        responsible for performing the authorization reversal.

        The cancellationReason is mandatory for BNPL payment methods (paymentProductId 3390, 3391 and 3392). For other
        payment methods the cancellationReason is not mandatory but can be used for reporting and reconciliation
        purposes.
      tags:
        - OrderManagementCheckoutActions
      operationId: cancelOrder
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRequest'
      responses:
        '200':
          x-nullable: true
          description: |-
            The payment has been cancelled. Some acquirers/issuers will provide some feedback in case a reversal of the
            authorization has been performed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelResponse'
        '400':
          x-nullable: true
          description: Incorrect input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          x-nullable: true
          description: Payment required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          x-nullable: true
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: Payment was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          x-nullable: true
          description: Cancellation is not allowed because payment is closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          x-nullable: true
          description: Internal server exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts':
    post:
      summary: Add a Checkout to an existing Commerce Case
      description: |-
        This endpoint can be used to add a new Checkout in combination with an Order to an existing Commerce Case. The
        Order can either be directly executed or the paymentMethodSpecificInput can also be stored for a later execution
        over the OrderManagementCheckout Action or Payment Execution endpoint.
      tags:
        - Checkout
      operationId: createCheckout
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutRequest'
      responses:
        '201':
          x-nullable: true
          description: The response contains the reference of the Checkout and possible the response for the payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCheckoutResponse'
        '202':
          x-nullable: true
          description: |-
            The response contains the reference of the Checkout. But the Payment Execution was not successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCheckoutResponse'
        '400':
          x-nullable: true
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/checkouts':
    get:
      summary: Get a list of Checkouts based on Search Parameters
      description: |
        This endpoint will provide a list of Checkouts based on the provided criteria.
        Not all parameters are required to be set.
        Results will be returned in descending creation time per default.
        Only up to the first 10,000 results will be returned.
      tags:
        - Checkout
      operationId: getCheckouts
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/fromCheckoutAmount'
        - $ref: '#/components/parameters/toCheckoutAmount'
        - $ref: '#/components/parameters/fromOpenAmount'
        - $ref: '#/components/parameters/toOpenAmount'
        - $ref: '#/components/parameters/fromCollectedAmount'
        - $ref: '#/components/parameters/toCollectedAmount'
        - $ref: '#/components/parameters/fromCancelledAmount'
        - $ref: '#/components/parameters/toCancelledAmount'
        - $ref: '#/components/parameters/fromRefundAmount'
        - $ref: '#/components/parameters/toRefundAmount'
        - $ref: '#/components/parameters/fromChargebackAmount'
        - $ref: '#/components/parameters/toChargebackAmount'
        - $ref: '#/components/parameters/checkoutIdQuery'
        - $ref: '#/components/parameters/merchantReference'
        - $ref: '#/components/parameters/merchantCustomerId'
        - $ref: '#/components/parameters/includePaymentProductId'
        - $ref: '#/components/parameters/includeCheckoutStatus'
        - $ref: '#/components/parameters/includeExtendedCheckoutStatus'
        - $ref: '#/components/parameters/includePaymentChannel'
        - $ref: '#/components/parameters/paymentReference'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/firstName'
        - $ref: '#/components/parameters/surname'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/phoneNumber'
        - $ref: '#/components/parameters/dateOfBirth'
        - $ref: '#/components/parameters/companyInformation'
        - $ref: '#/components/parameters/terminalId'
        - $ref: '#/components/parameters/reportingToken'
      responses:
        '200':
          x-nullable: true
          description: |
            The response containing all found Checkouts for the provided criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutsResponse'
        '400':
          x-nullable: true
          description: Exception when requesting Checkouts with given parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}':
    get:
      summary: Get Checkout Details
      description: This endpoint can be used to get a Checkout.
      tags:
        - Checkout
      operationId: getCheckout
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
      responses:
        '200':
          x-nullable: true
          description: The response contains the Checkout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '404':
          x-nullable: true
          description: Checkout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Modify a Checkout
      description: This endpoint can be used to update or modify the data of a Checkout.
      tags:
        - Checkout
      operationId: updateCheckout
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCheckoutRequest'
      responses:
        '204':
          x-nullable: true
          description: The Checkout is updated successfully.
        '400':
          x-nullable: true
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          x-nullable: true
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete a Checkout
      description: This endpoint can be used to delete an unused Checkout.
      tags:
        - Checkout
      operationId: deleteCheckout
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
      responses:
        '204':
          x-nullable: true
          description: The Checkout was successfully deleted.
        '403':
          x-nullable: true
          description: You are not allowed to delete the Checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: The Checkout could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/payment-executions':
    post:
      summary: Create a Payment
      description: |-
        This endpoint can be used to create a payment for a specific payment method. The amount of the payment cannot
        exceed the overall Checkout amount.
        OrderManagementActions will be impossible after using a PaymentExecution endpoint.
      tags:
        - PaymentExecution
      operationId: createPayment
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentExecutionRequest'
      responses:
        '201':
          x-nullable: true
          description: The payment request was successfully processed and a payment object was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentResponse'
        '400':
          x-nullable: true
          description: |-
            The request was malformed or was missing required data. When a required property was missing the error
            message will point out which property caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          x-nullable: true
          description: The payment was declined by a 3rd party (acquirer, payment processor, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          x-nullable: true
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          x-nullable: true
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          x-nullable: true
          description: |-
            Any 5XX response points to something that went wrong on our end. This could also be that the system was
            unable to route the transaction to an appropriate acquirer/3rd party. Another reason for such a response
            is when the 3rd party's response could not be understood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          x-nullable: true
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/payment-executions/{paymentExecutionId}/capture':
    post:
      summary: Capture a Payment
      description: |-
        This endpoint can be used to capture authorized amounts of a payment. The Capture can only be done for Checkouts
        with status COMPLETED, BILLED or CHARGEBACKED.
        OrderManagementActions will be impossible after using a PaymentExecution endpoint.
        It is possible to perform multiple partial captures by providing an amount that is lower than the total
        authorized amount.
        
        The cancellationReason is mandatory for BNPL payment methods (paymentProductId 3390, 3391 and 3392) if isFinal
        is set to true and the amount of the Capture is lower than the authorized amount.
        For other payment methods the cancellationReason is not mandatory in this case but can be used for reporting and
        reconciliation purposes.
      tags:
        - PaymentExecution
      operationId: capturePaymentExecution
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
        - $ref: '#/components/parameters/paymentExecutionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapturePaymentRequest'
      responses:
        '201':
          x-nullable: true
          description: The Capture was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapturePaymentResponse'
        '400':
          x-nullable: true
          description: |-
            The request was malformed or was missing required data. When a required property was missing the error
            message will point out which property caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          x-nullable: true
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: |-
            The most common cause for this response is that the Checkout status was not PENDING_COMPLETION, BILLED or
            CHARGEBACKED.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/payment-executions/{paymentExecutionId}/cancel':
    post:
      summary: Cancel a Payment
      description: |-
        This endpoint can be used to reverse the payment associated with this Checkout. The Cancel is only possible for
        the entire amount of the payment and not partial payments.
        OrderManagementActions will be impossible after using a PaymentExecution endpoint.
        
        In the light of card payments, reversing an authorization that is not needed will prevent you from having to pay
        a fee/penalty for unused authorization requests.
        Whilst scheme regulations require that acquirers and PSPs support authorization reversals, there are no rules
        towards issuers mandating them to process the reversal advice.
        Therefore, there is no guarantee the authorization hold is released.
        The authorization reversal can only be performed by the card issuer, and under no circumstances will we be
        responsible for performing the authorization reversal.

        The cancellationReason is mandatory for BNPL payment methods (paymentProductId 3390, 3391 and 3392). For other
        payment methods the cancellationReason is not mandatory but can be used for reporting and reconciliation
        purposes.
      tags:
        - PaymentExecution
      operationId: cancelPaymentExecution
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
        - $ref: '#/components/parameters/paymentExecutionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelPaymentRequest'
      responses:
        '200':
          x-nullable: true
          description: |-
            The payment has been cancelled. Some acquirers/issuers will provide some feedback in case a reversal of the
            authorization has been performed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentResponse'
        '400':
          x-nullable: true
          description: Incorrect input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          x-nullable: true
          description: Payment required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          x-nullable: true
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: Payment was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          x-nullable: true
          description: Cancellation is not allowed because payment is closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          x-nullable: true
          description: Internal server exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/payment-executions/{paymentExecutionId}/refund':
    post:
      summary: Refund a Payment
      description: |-
        This endpoint can be used to refund a payment for the associated Checkout. The Refund can only be done for
        Checkouts with status BILLED or CHARGEBACKED.
        OrderManagementActions will be impossible after using a PaymentExecution endpoint.
      tags:
        - PaymentExecution
      operationId: refundPaymentExecution
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
        - $ref: '#/components/parameters/paymentExecutionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '201':
          x-nullable: true
          description: The Refund was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPaymentResponse'
        '400':
          x-nullable: true
          description: |-
            The request was malformed or was missing required data. When a required property was missing the error
            message will point out which property caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundErrorResponse'
        '403':
          x-nullable: true
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: The most common cause for this response id that the payment was not in a cancelable state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/payment-executions/{paymentExecutionId}/complete':
    post:
      summary: Complete a Payment
      description: |-
        For PAYONE Secured Installment (paymentProductId 3391) a two-step process is required.
        The first step is creating a Payment, the second step is completing it by calling this API endpoint.
        OrderManagementActions will be impossible after using a PaymentExecution endpoint.
      tags:
        - PaymentExecution
      operationId: completePayment
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
        - $ref: '#/components/parameters/paymentExecutionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePaymentRequest'
        required: true
      responses:
        200:
          description: The completion was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletePaymentResponse'
        400:
          description: Incorrect input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: The payment was declined by a 3rd party (acquirer, payment processor, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: Complete is not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: The request was well-formed but was unable to be processed due to semantic errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal server exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        502:
          description: Any 5XX response points to something that went wrong on our
            end. This could also be that the system was unable to route the transaction
            to an appropriate acquirer/3rd party. Another reason for such a response
            is when the 3rd party's response could not be understood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/payment-executions/{paymentExecutionId}/pause':
    post:
      summary: Pause a Payment for selected payment methods
      description: |-
        Defers next dunning step-up after a consumer has announced to send
        back a shipped order. Merchant intends to do a REFUND call soon.
        OrderManagementActions will be impossible after using a PaymentExecution endpoint.
        
        Currently only applicable for PAYONE Buy Now, Pay Later (BNPL).

        * 3390 - PAYONE Secured Invoice
        * 3391 - PAYONE Secured Installment
        * 3392 - PAYONE Secured Direct Debit
      tags:
        - PaymentExecution
      operationId: pausePayment
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
        - $ref: '#/components/parameters/paymentExecutionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PausePaymentRequest'
      responses:
        200:
          description: The pause was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PausePaymentResponse'
        400:
          description: Incorrect input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        402:
          description: The payment was declined by a 3rd party (acquirer, payment
            processor, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: You are not allowed to access the service or account or your
            API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: Pause is not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: The request was well-formed but was unable to be processed
            due to semantic errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal server exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        502:
          description: Any 5XX response points to something that went wrong on our
            end. This could also be that the system was unable to route the transaction
            to an appropriate acquirer/3rd party. Another reason for such a response
            is when the 3rd party's response could not be understood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/payment-executions/{paymentExecutionId}/refresh':
    post:
      summary: Refresh information of a Payment Execution
      description: |-
        This endpoint can be used to refresh the information of a Payment Execution.
        
        This endpoint can be used to refresh a Payment Execution in two different modes:
        * PAYMENT_EVENTS = Refresh all events that belong to a payment. It can be used for a synchronisation with
        the payment gateway e.g. in case of possible inconsistencies between the Commerce Platform and the payment gateway.
        between the commerce platform and the payment platform.
        * PAYMENT_PROVIDER_DETAILS = Refresh the payment status of the payment and return the payment provider details.
        It can be used for a synchronisation of the payment with the external payment provider. At the moment this call
        will update the customer payment status of a transaction for PAYONE Buy Now, Pay Later (BNPL).
        
        ATTENTION: This Refresh endpoint includes a rate limit of one request per Payment Execution every twelve hours. 
        The reason for this rate limit that for the currently supported use case a change in payment provider details is 
        not expected to change more frequently.
      tags:
        - PaymentExecution
      operationId: refreshPayment
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
        - $ref: '#/components/parameters/paymentExecutionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshPaymentRequest'
      responses:
        200:
          description: The refresh was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExecution'
        400:
          description: Incorrect input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: You are not allowed to access the service or account or your
            API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal server exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        502:
          description: Any 5XX response points to something that went wrong on our
            end. This could also be that the system was unable to route the transaction
            to an appropriate acquirer/3rd party. Another reason for such a response
            is when the 3rd party's response could not be understood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/payment-information':
    post:
      summary: Create a Payment Information
      description: |-
        Creates a new Payment Information for the given Checkout.
      tags:
        - PaymentInformation
      operationId: createPaymentInformation
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInformationRequest'
      responses:
        '201':
          x-nullable: true
          description: The response contains the reference of the created Payment Information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInformationResponse'
        '400':
          x-nullable: true
          description: Incorrect input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          x-nullable: true
          description: Creation of Payment Information is not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          x-nullable: true
          description: Internal server exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/payment-information/{paymentInformationId}':
    get:
      summary: Get a Payment Information
      description: |-
        This endpoint can be used to get a paymentInformation of a Checkout.
      tags:
        - PaymentInformation
      operationId: getPaymentInformation
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
        - $ref: '#/components/parameters/paymentInformationId'
      responses:
        '200':
          x-nullable: true
          description: The response contains the reference of the created Payment Information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInformationResponse'
        '404':
          x-nullable: true
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/v1/{merchantId}/commerce-cases/{commerceCaseId}/checkouts/{checkoutId}/payment-information/{paymentInformationId}/refund':
    post:
      summary: Refund a Payment Information
      description: |-
        This endpoint can be used to initiate an online refund for a POS terminal transaction.
        The platform will automatically detect the payment method of the original transaction and select the most appropriate mode to refund the transaction.
      tags:
        - PaymentInformation
      operationId: refundPaymentInformation
      parameters:
        - $ref: '#/components/parameters/merchantIdPath'
        - $ref: '#/components/parameters/commerceCaseIdPath'
        - $ref: '#/components/parameters/checkoutIdPath'
        - $ref: '#/components/parameters/paymentInformationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInformationRefundRequest'
      responses:
        '201':
          x-nullable: true
          description: The Refund was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInformationRefundResponse'
        '400':
          x-nullable: true
          description: |-
            The request was malformed or was missing required data. When a required property was missing the error
            message will point out which property caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundErrorResponse'
        '403':
          x-nullable: true
          description: You are not allowed to access the service or account or your API authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          x-nullable: true
          description: The most common cause for this response id that the payment was not in a cancelable state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundErrorResponse'

components:
  parameters:
    checkoutIdPath:
      in: path
      name: checkoutId
      description: Unique identifier of a Checkout
      required: true
      schema:
        type: string
        format: UUID
    checkoutIdQuery:
      in: query
      name: checkoutId
      description: Unique identifier of a Checkout
      schema:
        type: string
        format: UUID
      example: 7a3444d3-f6ce-4b6e-b6c4-2486a160cf19
    commerceCaseIdPath:
      in: path
      name: commerceCaseId
      description: Unique identifier of a Commerce Case.
      required: true
      schema:
        type: string
        format: UUID
    commerceCaseIdQuery:
      in: query
      name: commerceCaseId
      description: Unique identifier of a Commerce Case.
      schema:
        type: string
        format: UUID
      example: 7a3444d3-f6ce-4b6e-b6c4-2486a160cf19
    companyInformation:
      in: query
      name: companyInformation
      description: Filter your results by the name of the company.
      schema:
        type: string
        x-trim-at: 50
      example: Sinclair's company name
    dateOfBirth:
      in: query
      name: dateOfBirth
      description: |-
        Filter your results by the date of birth.
        Format YYYYMMDD
      schema:
        type: string
        maxLength: 8
        pattern: ^((19|20|21)\d{6})?$
      example: 20041101
    email:
      in: query
      name: email
      description: Filter your results by the customer email address.
      schema:
        type: string
        x-trim-at: 70
      example: Sinclair.Müller@example.com
    firstName:
      in: query
      name: firstName
      description: |-
        Filter your results by the customer first name. It is also possible to filter by the first name from the
        shipping address.
      schema:
        type: string
        x-trim-at: 35
      example: Sinclair
    fromCancelledAmount:
      in: query
      description: |-
        Minimum cancelled amount of the Checkouts that shall be included in the response. Amount in cents always
        having 2 decimals.
      name: fromCancelledAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    fromChargebackAmount:
      in: query
      description: |-
        Minimum chargeback amount of the Checkouts that shall be included in the response. Amount in cents always
        having 2 decimals.
      name: fromChargebackAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    fromCheckoutAmount:
      in: query
      description: |-
        Minimum monetary value of the Checkouts that shall be included in the response. Amount in cents always
        having 2 decimals.
      name: fromCheckoutAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    fromCollectedAmount:
      in: query
      description: |-
        Minimum collected amount of the Checkouts that shall be included in the response. Amount in cents always
        having 2 decimals.
      name: fromCollectedAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    fromDate:
      in: query
      name: fromDate
      schema:
        type: string
        format: date-time
      description: |
        Date and time in RFC3339 format after which Items (Checkouts or Commerce-Cases, depending on the context) should be included in the request.
        Accepted formats are:
        * YYYY-MM-DD'T'HH:mm:ss'Z'
        * YYYY-MM-DD'T'HH:mm:ss+XX:XX
        * YYYY-MM-DD'T'HH:mm:ss-XX:XX
        * YYYY-MM-DD'T'HH:mm'Z'
        * YYYY-MM-DD'T'HH:mm+XX:XX
        * YYYY-MM-DD'T'HH:mm-XX:XX        

        All other formats may be ignored by the system.
      examples:
        YYYY-MM-DDThh:mm:ssZ:
          value: 2022-11-10T13:34:23Z
        YYYY-MM-DDThh:mm:ss+XX:XX:
          value: 2022-11-10T14:34:23+01:00
    fromOpenAmount:
      in: query
      description: |-
        Minimum open amount of the Checkouts that shall be included in the response. Amount in cents always having
        2 decimals.
      name: fromOpenAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    fromRefundAmount:
      in: query
      description: |-
        Minimum refunded amount of the Checkouts that shall be included in the response. Amount in cents always having
        2 decimals.
      name: fromRefundAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    includeCheckoutStatus:
      in: query
      name: includeCheckoutStatus
      description: |-
        Filter your results by Checkout status so that only Checkouts with the specified statuses are returned.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/StatusCheckout'
    includeExtendedCheckoutStatus:
      in: query
      name: includeExtendedCheckoutStatus
      description: |-
        Filter your results by extended Checkout status so that only Checkouts with the specified statuses are returned.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/ExtendedCheckoutStatus'
    includePaymentChannel:
      in: query
      name: includePaymentChannel
      description: |-
        Filter your results by payment channel so that only Checkouts which reference transactions on the given
        channels are returned.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/PaymentChannel'
    includePaymentProductId:
      in: query
      name: includePaymentProductId
      description: |-
        Filter your results by payment product ID so that only Checkouts containing a Payment Execution with one of
        the specified payment product IDs are returned.
      schema:
        type: array
        items:
          type: integer
          format: int32
          maximum: 99999
          minimum: 0
          example: 840
    merchantCustomerId:
      in: query
      name: merchantCustomerId
      description: Unique identifier for the customer.
      schema:
        type: string
        maxLength: 20
      example: 1234
    merchantIdPath:
      in: path
      name: merchantId
      description: The merchantId identifies uniquely the merchant. A Checkout has exactly one merchant.
      required: true
      schema:
        type: string
        minLength: 0
        maxLength: 64
      example: 3241
    merchantReference:
      in: query
      name: merchantReference
      description: |-
        Unique reference of the Checkout that is also returned for reporting and reconciliation purposes.
      schema:
        type: string
        maxLength: 40
      example: your-checkout-6372
    offset:
      in: query
      name: offset
      description: The offset to load Items (Checkouts or Commerce-Cases, depending on the context) starting with 0.
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0
    paymentExecutionId:
      in: path
      name: paymentExecutionId
      description: Unique identifier of a paymentExecution
      required: true
      schema:
        type: string
        format: UUID
    paymentId:
      in: query
      name: paymentId
      description: Filter your results by the paymentExecutionId, paymentInformationId or the id of the payment.
      schema:
        type: string
      example: 664423132
    paymentInformationId:
      in: path
      name: paymentInformationId
      description: Unique identifier of a paymentInformation
      required: true
      schema:
        type: string
        format: UUID
    paymentReference:
      in: query
      name: paymentReference
      description: Filter your results by the merchantReference of the paymentExecution or paymentInformation.
      schema:
        type: string
      example: Reference-4172
    phoneNumber:
      in: query
      name: phoneNumber
      description: Filter your results by the customer phone number.
      schema:
        type: string
        x-trim-at: 20
      example: '+1234567890'
    reportingToken:
      in: query
      name: reportingToken
      description: Filter your results by the reportingToken.
      schema:
        type: string
        x-trim-at: 40
      example: 12a037cc-833d-8b45-8f6f-11c34171f4e1
    size:
      in: query
      name: size
      description: The number of Items (Checkouts or Commerce-Cases, depending on the context) loaded per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
      example: 10
    surname:
      in: query
      name: surname
      description: |-
        Filter your results by the customer surname. It is also possible to filter by the surname from the shipping
        address.
      schema:
        type: string
        x-trim-at: 35
      example: Müller
    terminalId:
      in: query
      name: terminalId
      description: |-
        Filter your results by the terminalId.
      schema:
        type: string
        minLength: 8
        maxLength: 8
      example: "60023723"
    toCancelledAmount:
      in: query
      description: |-
        Maximum cancelled amount of the Checkouts that shall be included in the response. Amount in cents always
        having 2 decimals.
      name: toCancelledAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    toChargebackAmount:
      in: query
      description: |-
        Maximum chargeback amount of the Checkouts that shall be included in the response. Amount in cents always
        having 2 decimals.
      name: toChargebackAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    toCheckoutAmount:
      in: query
      description: |-
        Maximum monetary value of the Checkouts that shall be included in the response. Amount in cents always
        having 2 decimals.
      name: toCheckoutAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    toCollectedAmount:
      in: query
      description: |-
        Maximum collected amount of the Checkouts that shall be included in the response. Amount in cents always
        having 2 decimals.
      name: toCollectedAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    toDate:
      in: query
      name: toDate
      schema:
        type: string
        format: date-time
      description: |
        Date and time in RFC3339 format after which Items (Checkouts or Commerce-Cases, depending on the context) should be included in the request.
        Accepted formats are:
        * YYYY-MM-DD'T'HH:mm:ss'Z'
        * YYYY-MM-DD'T'HH:mm:ss+XX:XX
        * YYYY-MM-DD'T'HH:mm:ss-XX:XX
        * YYYY-MM-DD'T'HH:mm'Z'
        * YYYY-MM-DD'T'HH:mm+XX:XX
        * YYYY-MM-DD'T'HH:mm-XX:XX
        All other formats may be ignored by the system.
      examples:
        YYYY-MM-DDThh:mm:ssZ:
          value: 2022-11-10T13:34:23Z
        YYYY-MM-DDThh:mm:ss+XX:XX:
          value: 2022-11-10T14:34:23+01:00
    toOpenAmount:
      in: query
      description: |-
        Maximum open amount of the Checkouts that shall be included in the response. Amount in cents always having 2
        decimals.
      name: toOpenAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
    toRefundAmount:
      in: query
      description: |-
        Maximum refunded amount of the Checkouts that shall be included in the response. Amount in cents always having
        2 decimals.
      name: toRefundAmount
      schema:
        type: integer
        format: int64
        maximum: 999999999999
        minimum: 0
      example: 1000
  schemas:
    Address:
      type: object
      description: Object containing billing address details
      additionalProperties: false
      properties:
        additionalInfo:
          type: string
          description: Second line of street or additional address information such as apartments and suits
          example: Apartment 203
          maxLength: 50
        city:
          type: string
          description: City
          example: Kiel
          minLength: 2
          maxLength: 40
        countryCode:
          type: string
          pattern: ^[a-zA-Z]{2}$
          description: ISO 3166-1 alpha-2 country code
          example: DE
          maxLength: 2
        houseNumber:
          type: string
          description: House number
          example: 3
          maxLength: 10
        state:
          type: string
          pattern: ^[a-zA-Z0-9]{1,3}$
          description: State (ISO 3166-2 subdivisions), only if country=US, CA, CN, JP, MX, BR, AR, ID, TH, IN.
          example: BR
          minLength: 1
          maxLength: 3
        street:
          type: string
          description: Street name
          example: Coral Avenue
          maxLength: 50
        zip:
          type: string
          description: Zip code
          example: 12345
          minLength: 2
          maxLength: 10
    AddressPersonal:
      type: object
      description: Object containing personal or shipping address information.
      additionalProperties: false
      properties:
        additionalInfo:
          type: string
          description: Second line of street or additional address information such as apartments and suits
          example: Apartment 203
          maxLength: 50
        city:
          type: string
          description: City
          example: Kiel
          minLength: 2
          maxLength: 40
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: DE
          maxLength: 2
        houseNumber:
          type: string
          description: House number
          example: 3
          maxLength: 10
        state:
          type: string
          description: State (ISO 3166-2 subdivisions), only if country=US, CA, CN, JP, MX, BR, AR, ID, TH, IN.
          example: MX
          minLength: 1
          maxLength: 3
        street:
          type: string
          description: Street name
          example: Coral Avenue
          maxLength: 50
        zip:
          type: string
          description: Zip code
          example: 1234
          minLength: 2
          maxLength: 10
        name:
          $ref: '#/components/schemas/PersonalName'
    AllowedPaymentActions:
      type: string
      enum:
        - ORDER_MANAGEMENT
        - PAYMENT_EXECUTION
      description: |
        Indicates which payment endpoints can be used for the respective Checkout.
        The systems offers two alternatives to trigger a payment and consecutive events:
        OrderManagementCheckoutActions or the Payment Execution resource.
        Both alternatives can be used simultaneously but once one of the Payment Execution endpoints is used the
        Order Management endpoints can no longer be used for that Checkout since it is no longer possible to match
        payment events to items of the Checkout.
    AmountOfMoney:
      type: object
      description: Object containing amount and ISO currency code attributes
      additionalProperties: false
      properties:
        amount:
          type: integer
          description: Amount in cents and always having 2 decimals
          format: int64
          maximum: 999999999999
          minimum: 0
          example: 1000
        currencyCode:
          type: string
          description: Three-letter ISO currency code representing the currency for the amount
          minLength: 3
          maxLength: 3
          example: EUR
      required:
        - amount
        - currencyCode
    ApplePaymentDataTokenInformation:
      type: object
      description: |-
        Additional information about the Apple payment data token. This information are needed for checking the validity
        of the payment data token before decryption.
      properties:
        version:
          type: string
          description: |-
            Version information about the payment token. Currently only EC_v1 for ECC-encrypted data is supported.
          enum:
            - EC_V1
          example: EC_V1
        signature:
          type: string
          description: |-
            Detached PKCS #7 signature, Base64 encoded as string. Signature of the payment and header data. The
            signature includes the signing certificate, its intermediate CA certificate, and information about the
            signing algorithm.
        header:
          $ref: '#/components/schemas/ApplePaymentDataTokenHeaderInformation'
      required:
        - version
        - signature
        - header
    ApplePaymentDataTokenHeaderInformation:
      type: object
      description: Additional information about the Apple payment data token header.
      properties:
        transactionId:
          type: string
          description: A hexadecimal Transaction identifier identifier as a string.
        applicationData:
          type: string
          description: |-
            SHA–256 hash, hex encoded as a string. Hash of the applicationData property of the original PKPaymentRequest
            object.
      required:
        - transactionId
    APIError:
      description: Contains detailed information on one single error.
      type: object
      additionalProperties: false
      properties:
        errorCode:
          type: string
          description: Error code
          example: 50001130
        category:
          type: string
          description: |-
            Category the error belongs to. The category should give an indication of the type of error you are dealing
            with. Do not expect a finite set of possible categories, as they are subject to change. Common values are:
            * DIRECT_PLATFORM_ERROR - indicating that a functional error has occurred in the platform.
            * PAYMENT_PLATFORM_ERROR - indicating that a functional error has occurred in the payment platform.
            * IO_ERROR - indicating that a technical error has occurred within the payment platform or between the
            payment platform and third party systems.
            * COMMERCE_PLATFORM_ERROR - indicating an error originating from the Commerce Platform.
            * COMMERCE_PORTAL_BACKEND_ERROR - indicating an error originating from the Commerce Portal Backend.
          example: PAYMENT_PLATFORM_ERROR
        httpStatusCode:
          type: integer
          description: HTTP status code for this error that can be used to determine the type of error
          format: int32
          example: 404
        id:
          type: string
          description: ID of the error. This is a short human-readable message that briefly describes the error.
          example: general-error-technical-fault-internal
        message:
          type: string
          description: |-
            Human-readable error message that is not meant to be relayed to customer as it might tip off people who are
            trying to commit fraud
          example: Authorisation declined
        propertyName:
          type: string
          description: |-
            Returned only if the error relates to a value that was missing or incorrect.

            Contains a location path to the value as a JSonata query.

            Some common examples:
            * a.b selects the value of property b of root property a,
            * a[1] selects the first element of the array in root property a,
            * a[b='some value'] selects all elements of the array in root property a that have a property b with value
            'some value'.
          example: paymentId
      required:
        - errorCode
    AuthorizationMode:
      type: string
      x-enum-to-string: false
      enum:
        - PRE_AUTHORIZATION
        - SALE
      description: |-
        Determines the type of the authorization that will be used. Allowed values: 
          * PRE_AUTHORIZATION - The payment creation results in a pre-authorization that is ready for Capture. Pre-
        authortizations can be reversed and can be captured within 30 days. The capture amount can be lower than the
        authorized amount. 
          * SALE - The payment creation results in an authorization that is already captured at the moment of approval. 
        
        If the parameter is not provided in the request, the default value will be PRE_AUTHORIZATION
    BankAccountInformation:
      type: object
      description: Object containing information about the end customer's bank account.
      properties:
        iban:
          maxLength: 35
          type: string
          description: |-
            IBAN of the end customer's bank account.
            The IBAN is the International Bank Account Number. It is an internationally agreed format for the BBAN and
            includes the ISO country code and two check digits.
          example: DE02370502990000684712
        bic:
          maxLength: 11
          type: string
          description: Bank Identification Code
          example: COLSDE33XXX
        accountHolder:
          maxLength: 50
          type: string
          description: |-
            Account holder of the bank account with the given IBAN.
            Does not necessarily have to be the end customer (e.g. joint accounts).
          example: Max Mustermann
      required:
        - accountHolder
        - iban
    BankPayoutMethodSpecificInput:
      type: object
      description: Object containing the specific input details for SEPA tranfers
      properties:
        paymentProductId:
          type: integer
          format: int32
          maximum: 99999
          minimum: 0
          description: |-
            Payment product identifier - please check product documentation for a full overview of possible values.
          example: 772
        paymentProduct772SpecificInput:
          $ref: '#/components/schemas/SepaTransferPaymentProduct772SpecificInput'
    CancelItem:
      type: object
      properties:
        id:
          type: string
          format: UUID
          description: Id of the item to cancel.
          example: "4f0c512e-f12c-11ec-8ea0-0242ac120002"
        quantity:
          type: integer
          description: |-
            Quantity of the units being cancelled, should be greater than zero
            Note: Must not be all spaces or all zeros
          format: int64
          maximum: 9999
          minimum: 1
          example: 1
      required:
        - id
        - quantity
    CancellationReason:
      type: string
      description: |-
        Reason why an order was cancelled. Possible values:        
        * CONSUMER_REQUEST - The consumer requested a cancellation of the Order
        * UNDELIVERABLE - The merchant cannot fulfill the Order
        * DUPLICATE - The Order was created twice accidentally
        * FRAUDULENT- Consumer turned out to be a fraudster
        * ORDER_SHIPPED_IN_FULL - The merchant shipped everything and wants to cancel the remaining authorized amount of
        the Order
        * AUTOMATED_SHIPMENT_FAILED - A technical error was thrown during an automated shipment API call rendering the
        Order impossible to complete

        Mandatory for PAYONE Buy Now, Pay Later (BNPL):
        * 3390 - PAYONE Secured Invoice
        * 3391 - PAYONE Secured Installment
        * 3392 - PAYONE Secured Direct Debit
      enum:
        - CONSUMER_REQUEST
        - UNDELIVERABLE
        - DUPLICATE
        - FRAUDULENT
        - ORDER_SHIPPED_IN_FULL
        - AUTOMATED_SHIPMENT_FAILED
      example: CONSUMER_REQUEST
    CancelPaymentRequest:
      type: object
      properties:
        cancellationReason:
          $ref: '#/components/schemas/CancellationReason'
    CancelPaymentResponse:
      type: object
      additionalProperties: false
      properties:
        payment:
          $ref: '#/components/schemas/PaymentResponse'
    CancelRequest:
      type: object
      description: |
        Request to mark items as of the respective Checkout as cancelled and to automatically reverse the associated
        payment. 
        A Cancel can be created for a full or the partial ShoppingCart of the Checkout. 
        The platform will automatically calculate the respective amount to trigger the Cancel. For a partial Cancel a
        list of items must be provided.
        
        The cancellationReason is mandatory for BNPL payment methods (paymentProductId 3390, 3391 and 3392).
        For other payment methods the cancellationReason is not mandatory but can be used for reporting and
        reconciliation purposes.
      properties:
        cancelType:
          $ref: '#/components/schemas/CancelType'
        cancellationReason:
          $ref: '#/components/schemas/CancellationReason'
        cancelItems:
          type: array
          items:
            $ref: '#/components/schemas/CancelItem'
    CancelResponse:
      type: object
      properties:
        cancelPaymentResponse:
          $ref: '#/components/schemas/CancelPaymentResponse'
        shoppingCart:
          $ref: '#/components/schemas/ShoppingCartResult'
    CancelType:
      type: string
      description: |
        The cancelType refers to the ShoppingCart items of the Checkout.
        cancelType = FULL should be provided if all items should be marked as cancelled and the payment for the entire
        ShoppingCart should be reversed.
        cancelType = PARTIAL should be provided if only certain items should be marked as cancelled and the Cancel
        should not be made for the entire ShoppingCart. For this type the list of items has to be provided. 
        Please note that a reversal for a partial payment will not reverse the respective amount from the authorization
        but only reduces the openAmount that is ready for collecting.
        
        Following conditions apply to the Cancel request:
          * items must be in status ORDERED
          * there was no Capture, Refund or Cancel triggered over the Payment Execution resource
          * for the cancelType FULL no items are provided in the request
        Note: If a DISCOUNT productType is among the ShoppingCart items, only cancelType FULL is possible.
      enum:
        - FULL
        - PARTIAL
    CaptureOutput:
      type: object
      description: |
        Object containing Capture details.
      additionalProperties: false
      properties:
        amountOfMoney:
          $ref: '#/components/schemas/AmountOfMoney'
        merchantParameters:
          type: string
          description: |-
            It allows you to store additional parameters for the transaction in JSON format.
            This field must not contain any personal data.
          maxLength: 1000
          example: "{'SessionID':'126548354','ShopperID':'7354131'}"
        references:
          $ref: '#/components/schemas/PaymentReferences'
        paymentMethod:
          type: string
          description: Payment method identifier used by our payment engine.
        paymentInstructions:
          $ref: '#/components/schemas/PaymentInstructions'
    CapturePaymentRequest:
      type: object
      additionalProperties: false
      description: |
        If the shopping cart is specified, a Capture is made with the amount of the shopping cart for the items that are
        specified.
      properties:
        amount:
          type: integer
          format: int64
          maximum: 999999999999
          minimum: 1
          description: |-
            Here you can specify the amount that you want to capture (specified in cents, where single digit currencies
            are presumed to have 2 digits). The amount can be lower than the amount that was authorized, but not higher. 
             If left empty, the full amount will be captured and the request will be final. 
             If the full amount is captured, the request will also be final.
        isFinal:
          type: boolean
          default: false
          description: |
            This property indicates whether this will be the final operation. 
            If the full amount should not captured but the property is set to true, the remaining amount will automatically be cancelled.
        cancellationReason:
          $ref: '#/components/schemas/CancellationReason'
        references:
          $ref: '#/components/schemas/PaymentReferences'
        delivery:
          $ref: '#/components/schemas/DeliveryInformation'
    CapturePaymentResponse:
      type: object
      additionalProperties: false
      properties:
        captureOutput:
          $ref: '#/components/schemas/CaptureOutput'
        status:
          $ref: '#/components/schemas/StatusValue'
        statusOutput:
          $ref: '#/components/schemas/PaymentStatusOutput'
        id:
          type: string
          description: Unique payment transaction identifier of the payment gateway.
          example: '3066019730_1'
    CardFraudResults:
      type: object
      description: |
        Fraud results contained in the CardFraudResults object.
      additionalProperties: false
      properties:
        avsResult:
          description: |2-
             Result of the Address Verification Service checks. Possible values are: 
             * A - Address (Street) matches, Zip does not 
             * B - Street address match for international transactions—Postal code not verified due to incompatible
             formats 
             * C - Street address and postal code not verified for international transaction due to incompatible formats 
             * D - Street address and postal code match for international transaction, cardholder name is incorrect 
             * E - AVS error 
             * F - Address does match and five digit ZIP code does match (UK only) 
             * G - Address information is unavailable; international transaction; non-AVS participant 
             * H - Billing address and postal code match, cardholder name is incorrect (Amex) 
             * I - Address information not verified for international transaction 
             * K - Cardholder name matches (Amex) 
             * L - Cardholder name and postal code match (Amex) 
             * M - Cardholder name, street address, and postal code match for international transaction 
             * N - No Match on Address (Street) or Zip 
             * O - Cardholder name and address match (Amex) 
             * P - Postal codes match for international transaction—Street address not verified due to incompatible formats 
             * Q - Billing address matches, cardholder is incorrect (Amex) 
             * R - Retry, System unavailable or Timed out 
             * S - Service not supported by issuer 
             * U - Address information is unavailable 
             * W - 9 digit Zip matches, Address (Street) does not 
             * X - Exact AVS Match 
             * Y - Address (Street) and 5 digit Zip match 
             * Z - 5 digit Zip matches, Address (Street) does not 
             * 0 - No service available
          example: A
          type: string
          enum:
            - A
            - B
            - C
            - D
            - E
            - F
            - G
            - H
            - I
            - K
            - L
            - M
            - N
            - O
            - P
            - Q
            - R
            - S
            - U
            - W
            - X
            - Y
            - Z
            - "0"
    CardPaymentDetails:
      type: object
      description: Information for card payments realized at a POS.
      properties:
        maskedCardNumber:
          type: string
          description: Reference to the card of the transaction.
          maxLength: 40
          example: 672559XXXXXX1108
        paymentProcessingToken:
          type: string
          description: ID of the token. This property is populated when the payment was done with a token.
          example: 0ca037cc-9079-4df7-8f6f-f2a3443ee521
          maxLength: 40
        reportingToken:
          type: string
          description: Token to identify the card in the reporting.
          example: 12a037cc-833d-8b45-8f6f-11c34171f4e1
          maxLength: 40
        cardAuthorizationId:
          type: string
          description: |
            Identifier for a successful authorization, reversal or refund.
            Usually provided by the issuer system. Only provided for card payments.
          example: 260042
          maxLength: 8
    CardInfo:
      type: object
      description: |
        Object containing additional non PCI DSS relevant card information.
        used instead of card (missing fields: cardNumber, expiryDate, cvv)
      properties:
        cardholderName:
          type: string
          description: The card holder's name on the card.
          x-trim-at: 50
    CartItemOrderStatus:
      type: object
      readOnly: true
      description: Detailed information regarding an occurred payment event.
      properties:
        cartItemStatus:
          $ref: '#/components/schemas/CartItemStatus'
        quantity:
          type: integer
          description: |-
            Amount of units for which this status is applicable, should be greater than zero
          format: int64
          maximum: 9999
          minimum: 0
          example: 1
    CardPaymentMethodSpecificOutput:
      type: object
      description: |
        Object containing the card payment method details.
      additionalProperties: false
      properties:
        paymentProductId:
          type: integer
          format: int32
          maximum: 99999
          minimum: 0
          description: |-
            Payment product identifier - please check product documentation for a full overview of possible values.
          example: 840
        authorisationCode:
          description: Card Authorization code as returned by the acquirer
          type: string
        fraudResults:
          $ref: '#/components/schemas/CardFraudResults'
        threeDSecureResults:
          $ref: '#/components/schemas/ThreeDSecureResults'
    CardPaymentMethodSpecificInput:
      type: object
      description: |
        Object containing the specific input details for card payments.
      additionalProperties: false
      properties:
        authorizationMode:
          $ref: '#/components/schemas/AuthorizationMode'
        recurring:
          $ref: '#/components/schemas/CardRecurrenceDetails'
        paymentProcessingToken:
          type: string
          description: ID of the token to use to create the payment.
          example: 0ca037cc-9079-4df7-8f6f-f2a3443ee521
          maxLength: 40
        reportingToken:
          type: string
          readOnly: true
          description: Token to identify the card in the reporting.
          example: 12a037cc-833d-8b45-8f6f-11c34171f4e1
          maxLength: 40
        transactionChannel:
          $ref: '#/components/schemas/TransactionChannel'
        unscheduledCardOnFileRequestor:
          $ref: '#/components/schemas/UnscheduledCardOnFileRequestor'
        unscheduledCardOnFileSequenceIndicator:
          $ref: '#/components/schemas/UnscheduledCardOnFileSequenceIndicator'
        paymentProductId:
          type: integer
          format: int32
          maximum: 99999
          minimum: 0
          description: |-
            Payment product identifier - please check product documentation for a full overview of possible values.
          example: 840
        card:
          $ref: '#/components/schemas/CardInfo'
        returnUrl:
          type: string
          description: |-
            The URL that the customer is redirect to after the payment flow has finished. You can add any number of key
            value pairs in the query string that, for instance help you to identify the customer when they return to
            your site. Please note that we will also append some additional key value pairs that will also help you with
            this identification process.
            Note: The provided URL should be absolute and contain the protocol to use, e.g. http:// or https://. For use
            on mobile devices a custom protocol can be used in the form of protocol://. This protocol must be registered
            on the device first.
            URLs without a protocol will be rejected.
          maxLength: 200
          example: https://secure.ogone.com/ncol/test/displayparams.asp
        cardOnFileRecurringFrequency:
          type: string
          description: |-
            Period of payment occurrence for recurring and installment payments. Allowed values:
            * Yearly
            * Quarterly
            * Monthly
            
            * Weekly
            * Daily
            Supported soon
          enum:
            - Yearly
            - Quarterly
            - Monthly
            - Weekly
            - Daily
        cardOnFileRecurringExpiration:
          maxLength: 8
          pattern: ^((19|20|21)\d{6})?$
          type: string
          description: |-
            The end date of the last scheduled payment in a series of transactions.
            Format YYYYMMDD Supported soon
    CardRecurrenceDetails:
      type: object
      description: Object containing data related to recurring.
      properties:
        recurringPaymentSequenceIndicator:
          type: string
          description: |-
            * first = This transaction is the first of a series of recurring transactions
            * recurring = This transaction is a subsequent transaction in a series of recurring transactions

            Note: For any first of a recurring the system will automatically create a token as you will need to use a
            token for any subsequent recurring transactions. In case a token already exists this is indicated in the
            response with a value of False for the isNewToken property in the response.
          enum:
            - first
            - recurring
    CartItemInput:
      type: object
      description: This object contains information of all items in the cart.
        If a cart item is provided, the productPrice and quantity is required.
      additionalProperties: false
      properties:
        invoiceData:
          $ref: '#/components/schemas/CartItemInvoiceData'
        orderLineDetails:
          $ref: '#/components/schemas/OrderLineDetailsInput'
    CartItemPatch:
      type: object
      description: This object contains information of all items in the cart.
        If a cart item is provided, the productPrice and quantity is required.
      additionalProperties: false
      properties:
        invoiceData:
          $ref: '#/components/schemas/CartItemInvoiceData'
        orderLineDetails:
          $ref: '#/components/schemas/OrderLineDetailsPatch'
    CartItemResult:
      type: object
      description: This object contains information of all items in the cart.
        If a cart item is provided, the productPrice and quantity is required.
      additionalProperties: false
      properties:
        invoiceData:
          $ref: '#/components/schemas/CartItemInvoiceData'
        orderLineDetails:
          $ref: '#/components/schemas/OrderLineDetailsResult'
    CheckoutResponse:
      type: object
      xml:
        name: 'checkoutResponse'
      description: |
        The Checkout corresponds to the order of the WL API. We do not take additionalInput from the WL API. We have no 
        shipping and use deliveryAddress instead of address.
      properties:
        commerceCaseId:
          description: reference to the Commerce Case.
          type: string
          format: UUID
          example: "4f0c512e-f12c-11ec-8ea0-0242ac120002"
        checkoutId:
          description: reference to the Checkout.
          type: string
          format: UUID
          example: "4f0c512e-f12c-11ec-8ea0-0242ac120002"
        merchantCustomerId:
          type: string
          description: Unique identifier for the customer.
          maxLength: 20
          example: "1234"
        amountOfMoney:
          $ref: '#/components/schemas/AmountOfMoney'
        references:
          $ref: '#/components/schemas/CheckoutReferences'
        shipping:
          $ref: '#/components/schemas/Shipping'
        shoppingCart:
          $ref: '#/components/schemas/ShoppingCartResult'
        paymentExecutions:
          type: array
          items:
            $ref: '#/components/schemas/PaymentExecution'
        checkoutStatus:
          $ref: '#/components/schemas/StatusCheckout'
        statusOutput:
          $ref: '#/components/schemas/StatusOutput'
        paymentInformation:
          type: array
          items:
            $ref: '#/components/schemas/PaymentInformationResponse'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        allowedPaymentActions:
          type: array
          items:
            $ref: '#/components/schemas/AllowedPaymentActions'
    CompleteFinancingPaymentMethodSpecificInput:
      type: object
      description: |
        To complete the Payment the completeFinancingMethodSpecificInput has to be provided.
        At the moment it is only available for PAYONE Secured Installment (paymentProductId 3391).
      properties:
        paymentProductId:
          maximum: 99999
          minimum: 0
          type: integer
          description: |-
            Payment product identifier. Currently supported payment methods:
            * 3391 - PAYONE Secured Installment
          format: int32
          example: 3391
        requiresApproval:
          type: boolean
          description: |-
            * true = the payment requires approval before the funds will be captured using the Approve payment or
            Capture payment API
            * false = the payment does not require approval, and the funds will be captured automatically
            
            If the parameter is not provided in the request, the default value will be true
        paymentProduct3391SpecificInput:
          $ref: '#/components/schemas/PaymentProduct3391SpecificInput'
    CompleteOrderRequest:
      type: object
      description: |-
        The Complete-Order request is the last step to finalize the initial Order. It requires the completePaymentMethodSpecificInput.
        The previously provided data from the Commerce Case, Checkout and Order will automatically be loaded and used for the completion of the Order.
      properties:
        completePaymentMethodSpecificInput:
          $ref: '#/components/schemas/CompletePaymentMethodSpecificInput'
    CompletePaymentMethodSpecificInput:
      type: object
      description: |
        To complete the Order the completePaymentMethodSpecificInput has to be provided, containing the selected installmentOptionId as well as the the bankAccountInformation of the customer.
      properties:
        paymentProduct3391SpecificInput:
          $ref: '#/components/schemas/PaymentProduct3391SpecificInput'
    CompletePaymentRequest:
      type: object
      description: |-
        The Complete request is the last step to finalize the initially created Payment.
        It requires the completeFinancingPaymentMethodSpecificInput.
        The data for the order object should not differ from the previously provided information in Commerce Case, Checkout and Payment, but will not be validated nor automatically loaded from the Commerce Platform.
[...]
